body{
	background-color: white; 
	font-family: Impact;
}

.imageflottante
{
    float: left;
}

p{
	font-size: 24px;
}

h1{
	text-align: center;
}

.footer-good {
	height: 25%;
}

.arbo_image {
	background-repeat:no-repeat;   
	background-position:right top;
	width: 100%;
  	height: auto;
  	transition: 0.1 background linear;
}

.btn_begin {
	position:absolute;
	background-image:url("../img/btn_begin.png");
	background-size:60px 60px; 
	right:0;
	z-index: 100;
	width: 60px;
	height: 60px;
}

.logo_ros {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.1 background linear; 
	z-index: 100;
	background-color: rgba(255,255,255,0.7);
}

#logo_roz {
	margin: 200px auto;
	width: 30%;
	display: block;
}

.cookie_ros {
	position: absolute;
	top: 27%;
	right: 4%;
	z-index: 10;
}

#cookie_roz {
	
	width: 80px;
	height: auto;
	display: block;
}

#button1 {
	position: absolute;
	z-index: 20;
	border-radius: 100%;
	background-color: #726DFB;
	width: 20px;
	height: 20px;
}

.button_post {
	top:8px;
	left:8px;
}

.button_bd {
	top:325px;
	left:170px;
}

.button_mon {
	top:8px;
	right:258px;
}

.button_cookie {
	top:995px;
	right:-60px;
}

.opacity_roz {
	background-color: rgba(255,255,255,0.7);
}
